<div class="header">
  <a href="{{ site.baseurl }}/"><img class="profile-avatar animated zoomIn duration-500" src="{{ site.baseurl }}{{ site.avatar_url }}" height="120px" width="120px" /></a>
  <h1 class="author-name animated fadeInUp duration-700">{{ site.author }}</h1>
  {% if site.about %}
    <div class="profile-about animated fadeInUp duration-1000">
      {{ site.about }}
    </div>
  {% endif %}
  <div class="social animated fadeInLeft duration-700">
    <ul>
      {% for link in site.social %}
        <li><a href="{{ link.link }}" target="_blank"><i class="fa {{ link.icon }}"></i></a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="search animated fadeInLeft duration-900" id="js-search">
    <input type="text" placeholder="Search ..." class="search__input form-control" id="js-search__input">
    <ul class="search__results" id="js-search__results"></ul>
  </div>
  <hr />
  <ul class="sidebar-nav">
    <div class="title animated fadeInLeft duration-800">
      <strong>Navigation</strong>
    </div>
    <li class="animated fadeInLeft duration-1000">
      <a href="{{ site.baseurl }}/">Home</a>
    </li>
    {% for i in site.urls %}
    {% assign time = forloop.index | times: 100 | plus: 1000 %}
    <li class="animated fadeInLeft duration-{{ time }}">
      <a class="about" href="{{ site.baseurl }}{{ i.url }}">{{ i.text }}</a>
    </li>
    {% endfor %}
  </ul>
</div>


<div style="margin-top: 30px; margin-bottom: 30px">
  <!-- vnspoj.github.io_ads_index_left -->
  <ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-2949659900148168"
  data-ad-slot="7667154494"
  data-ad-format="auto"
  data-full-width-responsive="true"></ins>
</div>


<div style="margin-top: 10px; margin-bottom: 30px">
    <!-- vnspoj.github.io_ads_index_left_bottom -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-2949659900148168"
    data-ad-slot="6192724051"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
</div>
