<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{ site.baseurl }}/static/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/static/js/super-search.js"></script>
<script src="{{ site.baseurl }}/static/js/thickbox-compressed.js"></script>

{% if page.use_math %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
{% endif %}

<!-- highlight source code -->
{% if page.src %}
    <!-- load prism -->
    <script src="{{ site.baseurl }}/static/js/prism.js"></script>
    <!-- load source code from github -->
    <script src="{{ site.baseurl }}/static/js/load-code.js"></script>
{% endif %}