<!-- Bootstrap core JavaScript -->
<script src="{{ site.baseurl }}/static/lib/js/jquery.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/static/lib/js/jquery-migrate.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/static/lib/js/bootstrap.min.js" type="text/javascript"></script>

<!-- Template JS -->
<script src="{{ site.baseurl }}/static/lib/js/super-search.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/static/lib/js/thickbox-compressed.js" type="text/javascript"></script>

<!-- Scrollbar -->
<script src="{{ site.baseurl }}/static/lib/js/perfect-scrollbar.min.js" type="text/javascript"></script>

<!-- Math Type -->
{% if page.use_math %}
<script src="{{ site.baseurl }}/static/lib/js/math-jax.js" type="text/javascript"></script>
{% endif %}

<!-- Scroll Reveal -->
<script src="{{ site.baseurl }}/static/lib/js/scrollreveal.min.js" type="text/javascript"></script>

<!-- Main -->
<script src="{{ site.baseurl }}/static/js/main.js" type="text/javascript"></script>

<!-- highlight source code -->
{% if page.src %}
<!-- load prism -->
<script src="{{ site.baseurl }}/static/lib/js/prism.js" type="text/javascript"></script>
<!-- ajax source code from github -->
<script src="{{ site.baseurl }}/static/js/load-code.js" type="text/javascript"></script>
{% endif %}
