// Template Colors
$color-primary: #f96e00;
$color-bg-code: #333333;
$color-hr: #f7f1f1;
$color-footer-white: #ebebeb;

// Google Fonts
$font-muli: 'Muli', sans-serif;
$font-raleway: 'Raleway', sans-serif;

// Template Fonts
$font-primary: $font-muli;
$font-secondary: $font-raleway;
