@import 'base';
@import 'class';
@import 'animate';
body {
    @extend .fontPrimary;
    background: url("/static/img/subtle_dots.png");
    line-height: 1.8em;
    font-weight: 300;
    font-size: 16px;
		color: rgb(22, 22, 22);
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

$color-scrollbar: rgb(185, 185, 185);

::-webkit-scrollbar-thumb {
	background: $color-scrollbar;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: $color-scrollbar;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $color-hr;
    border-bottom: 1px solid $color-hr;
}

span {
    &.time,
    &.categories {
        color: rgb(83, 83, 83);
        margin-bottom: 5px;
        font-size: 14px;
    }
}

h1,
h2,
h3 {
    color: #000000;
    font-weight: normal;
}

h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

h2,
h3 {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: $color-primary;
    &:link,
    &:active {
        text-decoration: none;
        color: $color-primary;
    }
    &:hover {
        color: lighten($color-primary, 15%);
    }
}

/* Layout */

.main-layout {
    padding-top: 15px;
    background: #fff;
}

.sidebar-nav {
    margin: 0;
    padding: 0;
    font-size: 16px;
    .title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    li {
        margin: 0;
        list-style: none;
        transition-duration: 0.3s;
        &::before {
            content: "»";
            margin-right: .5em;
        }
        &:hover {
            padding-left: 10px;
        }
    }
}

/* Content */

div.content {
    pre {
        background: $color-bg-code;
        padding: 12px;
        color: #FFF;
        // overflow-x: auto;
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        font-size: 14px;
        border: none;
    }
    .highlight {
        background: $color-bg-code;
    }
}

footer {
    position: relative;
    bottom: 0;
    background-color: $color-bg-code;
    color: $color-footer-white;
    font-size: 0.9em;
    margin-top: 100px;
    padding-top: 80px;
    @extend .fontSecondary;
    a {
        color: $color-footer-white !important;
        &:hover {
            color: lighten($color-primary, 15%) !important
        }
        &:active,
        &:focus {
            color: $color-primary !important
        }
    }
    h3 {
        color: $color-footer-white;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .end {
        margin-top: 90px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: darken($color-bg-code, 10%);
        letter-spacing: 0.5px;
    }
    .navigation {
        div.link {
            transition-duration: 0.3s;
            &:hover {
                padding-left: 10px;
            }
            &::before {
                content: "»";
                margin-right: .5em;
            }
        }
    }
    .intro {
        margin-top: 25px;
        margin-bottom: 15px;
        .top {
            margin-bottom: 30px;
            display: inline-flex;
            align-items: center;
            img {
                width: 120px;
                height: 120px;
                border-radius: 20%;
                padding: 15px;
                background-color: white;
            }
            h1 {
                color: $color-footer-white;
                font-size: 30px;
                padding: 16px;
            }
        }
        .down {
            padding-right: 35px;
        }
    }
    .social-links {
        padding-top: 15px;
        a {
            color: $color-footer-white;
            font-size: 16px;
            margin-right: 10px;
            span {
                border: 2px solid $color-footer-white;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                position: relative;
                display: inline-block;
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover {
                span {
                    border-color: $color-primary;
                    transform: rotate(360deg);
                    transition: 0.5s;
                }
            }
        }
    }
    .external-links {
        transition-duration: 0.3s;
        &:hover {
            padding-left: 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    footer {
        .intro {
            .top {
                display: block;
            }
            .down {
                text-align: center;
                padding-right: 0px;
            }
        }
    }
    .end>span {
        display: block;
    }
}

/* Left column */

div.sidebar-layout {
    margin-top: 100px;
    font-size: 14px;
    color: rgb(15, 15, 15);
    strong {
        font-size: 18px;
        color: rgb(14, 14, 14);
        font-weight: normal;
        margin-bottom: 20px;
    }
    div.profile-about {
        margin-top: 15px;
        color: rgb(12, 12, 12);
        font-size: 15px;
    }
    img.profile-avatar {
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        -ms-border-radius: 150px;
        -o-border-radius: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Pagination */

.PageNavigation {
    font-size: 17px;
    display: block;
    width: auto;
    overflow: hidden;
    padding: 5px 15px;
    a {
        display: block;
        width: 50%;
        float: left;
        margin: 1em 0;
    }
    .next {
        text-align: right;
    }
    .prev {
        text-align: left;
    }
}

/* Social Icons */

.social {
    display: block;
    margin: 18px 0;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 8px;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 2px solid $color-primary;
            &:last-child {
                margin-right: 0px
            }
            position: relative;
        }
    }
    li {
        a {
            position: absolute;
            font-size: 15px;
            color: $color-primary;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            cursor: pointer;
            transition-duration: 0.5s;
            transform: rotate(360deg);
        }
    }
}

.share-page {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px 20px 15px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    >div.btn-share {
        margin-top: 5px;
    }
}

div.btn-share {
    .twitter-share-button {
        margin-right: 10px;
    }
    .fb-share-button {
        margin-left: 10px;
    }
}

.post-content img,
.content img {
    max-width: 100%;
}

.post-content .btn-sm {
    font-size: 14px;
    margin: 2px;
}

/* Responsive Conditional */

@media (min-width: 1024px) {
    .fixed-condition {
        position: fixed;
        max-width: 255px;
    }
}

@media (max-width: 768px) {
    div.sidebar-layout {
        margin-top: 30px;
    }
    footer {
        text-align: center;
        >div.btn-github {
            margin-top: 10px;
            float: inherit !important;
            margin-bottom: 35px;
        }
    }
}

.pagination-custom {
    margin-left: 15px;
}

.post-title {
    font-weight: 500;
    font-size: 36px;
}

.btn {
    &:focus,
    &:active {
        outline: none !important;
    }
}

.table-full-width table {
    width: 100%;
}

@media only screen and (max-width: 576px) {
    .header {
        text-align: center;
    }
}

#js-scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 32px;
    width: 40px;
    height: 40px;
    display: none;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -52%);
    }
}

.posts {
    span {
        font-weight: 400;
    }
}

.single-src {
    margin-top: 20px;
    .filename-code {
        font-weight: 900;
        color: $color-primary;
        font-family: $font-secondary;
        margin-left: 5px;
        font-size: 1.2em;
    }
    .btn-toolbar-code {
        padding-top: 10px;
        padding-bottom: 15px;
        button {
            margin: 2px;
        }
    }
    .area-code > pre {
        position: relative;
				height: 600px;
				border-radius: 8px;
    }
}
